.chat
  height: 100%
  width: 100%
  display: flex
  flex-direction: column

  .room-header
    background-color: $primary-color
    color: $text-color
    padding: 1em
    font-size: 20px
    font-weight: 600
    box-shadow: $dropshadow

  .message-container
    padding: 1em
    overflow-y: scroll
    flex-basis: 100%

  hr
    border-color: $lighter-gray

  .input
    padding: 1em
    display: flex
    min-height: fit-content

    textarea
      width: 100%
      min-height: 2.5em
      height: 0px
      max-height: 7em
      margin-right: 1em

    &.multiline
      // height: 6.5em
      textarea
        overflow: auto