.message
  margin-top: 1em
  .sender
    font-weight: 600
    color: darken($main-color, 20)
    float: left

  .date
    color: #999
    font-size: 14px
    float: left
    line-height: 1.2rem
    padding-left: 0.75em

  .contents
    padding-top: 0.4em
    width: 100%
    float: left

  &.unsent
    .contents
      color: #666