$font: 'Questrial'
$font-url: 'https://fonts.googleapis.com/css?family=' + $font
$letter-spacing: 0.05em

$primary-color: adjust-hue(#69d, 10deg)

$white: #fff
$darken: 19%

$lightest-gray: darken($white, $darken - 10%)
$lighter-gray: darken($white, $darken)
$light-gray: darken($lighter-gray, $darken)
$dark-gray: darken($light-gray, $darken + 20%)
$darker-gray: darken($dark-gray, $darken - 10%)

$text-color: $white
$success-color: #6d6
$warning-color: #da6
$error-color: #d66

$dark-success: darken($success-color, $darken)

$dropshadow: 0 1px 2px rgba(0, 0, 0, 0.75)