$font: 'Questrial'
$font-url: 'https://fonts.googleapis.com/css?family=' + $font
$letter-spacing: 0.05em

$primary-color: #69d

$white: #fff
$lightest-gray: darken($white, 10%)
$lighter-gray: darken($white, 20%)
$light-gray: darken($white, 40%)
$dark-gray: darken($white, 60%)
$darker-gray: darken($white, 73%)

$text-color: $white
$success-color: #6d6
$warning-color: #da6
$error-color: #d66

$dropshadow: 0 1px 2px rgba(0, 0, 0, 0.75)