{
  "presets": [
    ["env", {
      "targets": {
        "node": "7.8.0"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "common": "./common"
      }
    }]
  ]
}